.Container {
    background: antiquewhite;
    width: 100%;
}

/* ::::: RESET CLASSES START HERE ::::: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: 400;
    font-family: sans-serif;
}
html,body{
    height:100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    margin: 0;
    position: relative;
    background: #f2f3f7;
    font-size: 16pt;
    font-weight: 600;

}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
}

/* ::::: scrollbar custom starts ::::: */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: pointer;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    width: 0px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: none;
    -webkit-border: none;
    background: rgba(243, 243, 243, 0.5);
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    height: 50px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    background: rgba(54, 54, 53, 0.5);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* ::::: scrollbar custom ends ::::: */
/* ::::: COMMONLY USED CLASSES START HERE ::::: */

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.clearall {
    clear: both;
}

.thinFont {
    font-weight: 100;
}

.textEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.disabled {
    cursor: auto;
    opacity: 0.2;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
}

.positionCenter {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%) translateY(-50%);
}

.transit {
    transition: all 0.3s ease-in;
}

/* ::::: COMMONLY USED CLASSES END HERE ::::: */

body>div,body>div>div,body>div>div>div{
    height:100%;
}


/*css by vinoj starts here*/
.input__row__wrapper {
    padding: 2px;
}

label.input__row__wrapper  {
        cursor: pointer;
	    border: 1px solid rgba(0, 0, 0, 0.3);
	    padding: 0px 8px 0px 8px;
	    border-radius: 5px;
	    font-size: 17px;
	    background: #f7f7f7;
	    color: rgba(43, 43, 43, 0.94);
	    font-weight: 100;
	    position: relative;
}
.input__row__wrapper input[type=file]{
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.input__row__wrapper textarea {
    width: Calc(100% - 12px);
    background: rgba(251, 251, 251, 0.97);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

.input__row__wrapper button {
        cursor: pointer;
	    border: 1px solid rgba(0, 0, 0, 0.3);
	    padding: 0px 8px 0px 8px;
	    border-radius: 5px;
	    font-size: 17px;
	    background: #f7f7f7;
	    color: rgba(43, 43, 43, 0.94);
	    font-weight: 100;
	    position: relative;
}

.input__container {
    background: #e5eaea;
    width: 100%;
    /* min-height: 35px; */
    bottom: 0px;
    position: absolute;
    padding: 8px 3px 6px 6px;
    /* display: inline-block; */
}


/*css by vinoj ends here*/

/*css by sireesha starts here*/

.ace-tm .ace_print-margin{
    display: none;
}
.ace_content{
    width:100% !important;
}
.ace_scroller{
    left:0 !important;
    padding: 10px;
}
.ace_gutter{
    display: none;
}
/*css by sireesha ends here*/